/* You can delete / re-write this img class  */

img {
    max-width: 200px;
}

/* Happy coding! */

.container {
    border: 0.2rem solid;
    border-color: black;

}

.card {
    border: 0.2rem solid;
    border-color: black;
    margin: 1rem;

}